body {
    font-size: 14px;
    font-family: sans-serif;
    color: #222;
    /* RGB: 00-> red, 00-> Green, 00->Blue. Simplificar: 0->R, 0->G, 0->B */
    /* #222222 = #222 */
}
#header-top{
    padding: 8px;
}

.img-invert {
    -webkit-filter: invert();
    filter: invert();
}

.icon {
    width: 10px;
    position: relative;
    top: 3px
}

nav .area-usuario a,
nav .rede-social {
    font-size: 12px;
    /* display: flex; */
}

nav .area-usuario a {
    text-decoration: none;
    color: #eee;
}

/* Barra de busca */
.bar-search {
    padding: 2px;
}

.input-search,
.btn-search {
    border: none;
}

.input-search {
    padding: 5px 10px;
    width: 100%;
}

.input-search:focus {
    outline: none !important;
}

.btn-search {
    padding: 5px 20px;
    cursor: pointer;
}

.links-search {
    padding: 5px 0;
}

.links-search a {
    color: #eee;
    text-decoration: none;
    font-size: 10px;
}

.icon-logo {
    padding: 0 15px;
    width: 100%;
    max-height: 50px;
}

.icon-cart {
    padding-top: 10px;
    font-size: 25px;
}

.header-search{
    flex-basis: 70%;
}

@media (max-width:960px) {
    /* .icon-cart {
        display: none;
    } */
}

@media print {
    img {
        display: none;
    }
}

/* Flex aqui*/